body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.turn {
    font-size: 24px;
}

.game_field {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.game_cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 8rem;
}

.controls {
    width: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.top, .bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.message_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}